@import "/src/common/style/utils.scss";

.mainContainer {
  @include flex-container(column);

  min-height: 250px;
  min-width: 300px;
  flex: 1 1 300px;
  padding: 1.5rem;
  background-color: var(--secondary-color);
  border-radius: 4px;
  position: relative;
  align-self: flex-start;

  .metricHeader {
    .title p:first-of-type {
      font-size: var(--para-large);
      line-height: 150%;
      letter-spacing: 0.5px;
      font-weight: 600;
    }

    .title p:nth-of-type(2) {
      font-size: var(--subheading-small);
      line-height: 140%;
    }

    .title p:last-of-type {
      font-size: var(--para-small);
    }
  }
}

.circularChart {
  @include flex-container(column, center, center);

  min-height: 250px;
  min-width: 300px;
  flex: 1 1 300px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  position: relative;
  align-self: flex-start;
  padding-top: 1rem;

  p {
    margin-top: 10px;
    font-size: var(--subheading-small);
  }
}
