@import "/src/common/style/utils.scss";

.mainContainer {
  @include flex-container(row, space-between, center);

  height: 80px;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--tertiary-color);
  border-bottom: 1px solid rgb(45, 45, 45);

  .logo {
    width: 325px;
  }
}

@media only screen and (max-width: 450px) {
  .mainContainer {
    padding: 0 1rem;

    .logo {
      width: 275px;
    }
  }
}

@media only screen and (max-width: 375px) {
  .mainContainer {
    .logo {
      width: 250px;
    }
  }
}
