@import "/src/common/style/utils.scss";

.mainContainer {
  @include flex-container(row, flex-start, flex-start, 100%, 2rem);

  flex-wrap: wrap;

  .welcomeContainer {
    min-height: 300px;
    padding: 1.5rem;
    background-color: var(--secondary-color);
    border-radius: 4px;
    position: relative;
    align-self: flex-start;
  }

  .colSpan1 {
    flex: 1 1 300px;
    min-width: 300px;
  }

  .colSpan2 {
    flex: 2 1 300px;
    min-width: 300px;
  }

  .colSpan3 {
    flex: 3 1 300px;
    min-width: 300px;
  }

  .tableWrapper {
    overflow-y: auto;
  }
}
