@import "/src/common/style/utils.scss";

.mainContainer {
  @include grid-container(3, 1fr, 2rem);

  .colSpan2 {
    grid-column: span 2;
  }

  .colSpan3 {
    grid-column: span 3;
  }

  .welcomeContainer {
    min-height: 300px;
    min-width: 350px;
    padding: 1.5rem;
    background-color: var(--secondary-color);
    border-radius: 4px;
    position: relative;
    align-self: flex-start;
  }
}
