@import "/src/common/style/utils.scss";

.mainContainer {
  @include flex-container(column, space-between, center, 275px);

  height: calc(100% - 100px);
  padding: 1rem 2rem;
  position: fixed;
  top: 100px;
  z-index: 2;

  .routesContainer {
    @include flex-container(column, flex-start, center, 100%, 1.25rem);

    height: 100%;
  }

  a,
  button {
    text-decoration: none;
    padding: 1rem;
    background-color: Var(--primary-color);
    color: var(--primary-text-color);
    width: 100%;
    text-align: center;
    border-radius: 6px;
    font-size: var(--subheading-small);
    transition: all ease 0.3s;
  }

  a:hover,
  button:hover {
    background-color: var(--primary-color-hover);
  }

  button {
    border: none;
    font-family: "Urbanist";
  }

  .active {
    background-color: var(--primary-color-hover);
  }
}
